<h1>Listing event_questions</h1>

<table>
  <tr>
    <th>Prompt</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_questions.each do |event_question| %>
  <tr>
    <td><%= event_question.prompt %></td>
    <td><%= event_question.event_id %></td>
    <td><%= link_to 'Show', event_question %></td>
    <td><%= link_to 'Edit', edit_event_question_path(event_question) %></td>
    <td><%= link_to 'Destroy', event_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event question', new_event_question_path %>
