<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date start:</b>
  <%= @event.date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= @event.date_end %>
</p>

<p>
  <b>Image url:</b>
  <%= @event.image_url %>
</p>



<% @event_questions.each do |event_question| %>
<p>
  <b>Event Question:</b>
  <%= event_question.prompt %>
</p>

<% end %>

<p>
<b>Add More Questions:</b>

<%= form_for([@event,EventQuestion.new], :html => { :class => 'form-vertical' }) do |f| =%>
  <%= f.text_area :prompt, :id => "comment", :placeholder => " What did you think about this challenge?",:class => "span8", :rows => 5, :style => "resize:none" %>
  <%= f.submit "Add Question", :class => 'btn', :id => "comment_btn" %>
<% end %>

</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
